
body {
    background-image:url(Cream\ and\ Beige\ Aesthetic\ Elegant\ Online\ Portfolio\ Shop\ Desktop\ Prototype\ copy.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-position: center;
}


.container-isi {
    margin: auto;
    background-image:url(https://img.freepik.com/free-photo/liquid-pink-swirl-paint-marbling-backdrop_23-2148097587.jpg?ga=GA1.1.1641353912.1731590357&semt=ais_hybrid;);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-isi h1 {
    display: flex;
    justify-content: center;
    padding: 0%;
    color: #f7c1c8;
}
.tombol {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: larger;
}


.container-isi h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}

.kotak {
    border: black 1px solid;
    width: 540px;
    box-shadow: -3px 4px 1px 4px  rgba(0, 0, 0, 0.216);
    margin: 20px 40px 20px 30px;
    height: 200px;
    border-radius: 20px;
}

.kotak h1,p {
    display: flex;
    margin-left: 10px;
    text-align: justify;    
}

.tombol-container {
    display: flex;
    justify-content: center;
}

.tombol {
    border-radius: 50px;
    font-size: larger;
    color: white;
    background-color: #f2778c;
    border: none;
    width: 250px;
    height: 35px;
}


.kotak button{
    border: none;
    background-color: #f2778c;
    border-radius: 20px;
    margin-left: 10px;
    width: 300px;
    color: azure;
}

footer {
    display: flex;
    width: 100%;
    background-color: #f2778c;
    justify-content: center;
    margin-bottom: -10px;
}